In [1]:
# setting up the environment
import warnings
warnings.filterwarnings("ignore")
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler, QuantileTransformer
from env import user, password, host
import env
from sklearn.feature_selection import SelectKBest, f_regression, RFE
from sklearn.linear_model import LinearRegression
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import os
import csv
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [2]:
# create a function for the acquisition 
def get_connection(db, user=env.user, host=env.host, password=env.password):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

In [3]:
# acquire required tables into one dataframe
def acquire_zillow():
    file='zillow_df.csv'
    if os.path.isfile(file):
        return pd.read_csv(file)
    else:
        zillow2017_df = pd.read_sql(('''SELECT
    prop.*,
    predictions_2017.logerror,
    predictions_2017.transactiondate,
    air.airconditioningdesc,
    arch.architecturalstyledesc,
    build.buildingclassdesc,
    heat.heatingorsystemdesc,
    landuse.propertylandusedesc,
    story.storydesc,
    construct.typeconstructiondesc
FROM properties_2017 prop
JOIN (
    SELECT parcelid, MAX(transactiondate) max_transactiondate
    FROM predictions_2017
    GROUP BY parcelid
) pred USING(parcelid)
JOIN predictions_2017 ON pred.parcelid = predictions_2017.parcelid
                      AND pred.max_transactiondate = predictions_2017.transactiondate
LEFT JOIN airconditioningtype air USING (airconditioningtypeid)
LEFT JOIN architecturalstyletype arch USING (architecturalstyletypeid)
LEFT JOIN buildingclasstype build USING (buildingclasstypeid)
LEFT JOIN heatingorsystemtype heat USING (heatingorsystemtypeid)
LEFT JOIN propertylandusetype landuse USING (propertylandusetypeid)
LEFT JOIN storytype story USING (storytypeid)
LEFT JOIN typeconstructiontype construct USING (typeconstructiontypeid)
WHERE prop.latitude IS NOT NULL
  AND prop.longitude IS NOT NULL
  AND predictions_2017.transactiondate like "2017%%" '''), get_connection('zillow'))
        zillow2017_df.to_csv(file,index=False)
    return zillow2017_df

In [4]:
def zillow_info():
    zillow_df=acquire_zillow()
    print('The basic stats about zillow dataframe is: ','\n',zillow_df.describe())
    print('The shape of the zillow dataframe is: ','\n',zillow_df.info())

In [5]:
zillow_info()

The basic stats about zillow dataframe is:
                  id      parcelid  airconditioningtypeid  \
count  7.738000e+04  7.738000e+04           24953.000000
mean   1.495126e+06  1.300715e+07               1.813289
std    8.609057e+05  3.481368e+06               2.967894
min    3.490000e+02  1.071186e+07               1.000000
25%    7.520500e+05  1.153830e+07               1.000000
50%    1.497870e+06  1.253155e+07               1.000000
75%    2.240480e+06  1.421184e+07               1.000000
max    2.982274e+06  1.676893e+08              13.000000

       architecturalstyletypeid  basementsqft   bathroomcnt    bedroomcnt  \
count                206.000000     50.000000  77380.000000  77380.000000
mean                   7.388350    679.720000      2.299134      3.053489
std                    2.734542    689.703546      0.996657      1.139103
min                    2.000000     38.000000      0.000000      0.000000
25%                    7.000000    273.000000      2.000000      2.000000
50%                    7.000000    515.000000      2.000000      3.000000
75%                    7.000000    796.500000      3.000000      4.000000
max                   21.000000   3560.000000     18.000000     16.000000

       buildingclasstypeid  buildingqualitytypeid  calculatedbathnbr  ...  \
count            15.000000           49671.000000       76771.000000  ...
mean              3.933333               6.534638           2.316871  ...
std               0.258199               1.721933           0.979761  ...
min               3.000000               1.000000           1.000000  ...
25%               4.000000               6.000000           2.000000  ...
50%               4.000000               6.000000           2.000000  ...
75%               4.000000               8.000000           3.000000  ...
max               4.000000              12.000000          18.000000  ...

       numberofstories  fireplaceflag  structuretaxvaluedollarcnt  \
count     17560.000000          172.0                7.726800e+04
mean          1.434738            1.0                1.893160e+05
std           0.544569            0.0                2.300886e+05
min           1.000000            1.0                4.400000e+01
25%           1.000000            1.0                8.426500e+04
50%           1.000000            1.0                1.364995e+05
75%           2.000000            1.0                2.187875e+05
max           6.000000            1.0                1.142179e+07

       taxvaluedollarcnt  assessmentyear  landtaxvaluedollarcnt  \
count       7.737900e+04         77380.0           7.737800e+04
mean        4.901375e+05          2016.0           3.010969e+05
std         6.534477e+05             0.0           4.925990e+05
min         1.000000e+03          2016.0           1.610000e+02
25%         2.070000e+05          2016.0           8.550400e+04
50%         3.589760e+05          2016.0           2.033835e+05
75%         5.690030e+05          2016.0           3.668022e+05
max         4.906124e+07          2016.0           4.895220e+07

           taxamount  taxdelinquencyyear  censustractandblock      logerror
count   77375.000000         2886.000000         7.713600e+04  77380.000000
mean     5995.566592           14.087318         6.049674e+13      0.016628
std      7622.887460            2.185663         1.535252e+12      0.170190
min        19.920000            3.000000         6.037101e+13     -4.655420
25%      2715.585000           14.000000         6.037311e+13     -0.024377
50%      4450.720000           15.000000         6.037603e+13      0.006627
75%      6927.800000           15.000000         6.059042e+13      0.039204
max    586639.300000           99.000000         4.830301e+14      5.262999

[8 rows x 57 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77380 entries, 0 to 77379
Data columns (total 68 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            77380 non-null  int64
 1   parcelid                      77380 non-null  int64
 2   airconditioningtypeid         24953 non-null  float64
 3   architecturalstyletypeid      206 non-null    float64
 4   basementsqft                  50 non-null     float64
 5   bathroomcnt                   77380 non-null  float64
 6   bedroomcnt                    77380 non-null  float64
 7   buildingclasstypeid           15 non-null     float64
 8   buildingqualitytypeid         49671 non-null  float64
 9   calculatedbathnbr             76771 non-null  float64
 10  decktypeid                    614 non-null    float64
 11  finishedfloor1squarefeet      6023 non-null   float64
 12  calculatedfinishedsquarefeet  77184 non-null  float64
 13  finishedsquarefeet12          73748 non-null  float64
 14  finishedsquarefeet13          41 non-null     float64
 15  finishedsquarefeet15          3009 non-null   float64
 16  finishedsquarefeet50          6023 non-null   float64
 17  finishedsquarefeet6           386 non-null    float64
 18  fips                          77380 non-null  float64
 19  fireplacecnt                  8276 non-null   float64
 20  fullbathcnt                   76771 non-null  float64
 21  garagecarcnt                  25474 non-null  float64
 22  garagetotalsqft               25474 non-null  float64
 23  hashottuborspa                1538 non-null   float64
 24  heatingorsystemtypeid         49439 non-null  float64
 25  latitude                      77380 non-null  float64
 26  longitude                     77380 non-null  float64
 27  lotsizesquarefeet             69141 non-null  float64
 28  poolcnt                       16137 non-null  float64
 29  poolsizesum                   867 non-null    float64
 30  pooltypeid10                  464 non-null    float64
 31  pooltypeid2                   1074 non-null   float64
 32  pooltypeid7                   15042 non-null  float64
 33  propertycountylandusecode     77380 non-null  object
 34  propertylandusetypeid         77380 non-null  float64
 35  propertyzoningdesc            50330 non-null  object
 36  rawcensustractandblock        77380 non-null  float64
 37  regionidcity                  75909 non-null  float64
 38  regionidcounty                77380 non-null  float64
 39  regionidneighborhood          30890 non-null  float64
 40  regionidzip                   77330 non-null  float64
 41  roomcnt                       77380 non-null  float64
 42  storytypeid                   50 non-null     float64
 43  threequarterbathnbr           10096 non-null  float64
 44  typeconstructiontypeid        222 non-null    float64
 45  unitcnt                       50562 non-null  float64
 46  yardbuildingsqft17            2388 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77117 non-null  float64
 49  numberofstories               17560 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77268 non-null  float64
 52  taxvaluedollarcnt             77379 non-null  float64
 53  assessmentyear                77380 non-null  float64
 54  landtaxvaluedollarcnt         77378 non-null  float64
 55  taxamount                     77375 non-null  float64
 56  taxdelinquencyflag            2886 non-null   object
 57  taxdelinquencyyear            2886 non-null   float64
 58  censustractandblock           77136 non-null  float64
 59  logerror                      77380 non-null  float64
 60  transactiondate               77380 non-null  object
 61  airconditioningdesc           24953 non-null  object
 62  architecturalstyledesc        206 non-null    object
 63  buildingclassdesc             15 non-null     object
 64  heatingorsystemdesc           49439 non-null  object
 65  propertylandusedesc           77380 non-null  object
 66  storydesc                     50 non-null     object
 67  typeconstructiondesc          222 non-null    object
dtypes: float64(55), int64(2), object(11)
memory usage: 40.1+ MB
The shape of the zillow dataframe is:
 None

## Key takeaway
There are 67 columns, a lot of columns are missing over 70000 values.
There are 66 float, 2 int and 11 object
The total count is 77375 rows retrieved

In [6]:
zillow_df=acquire_zillow()
sumdf=pd.DataFrame(zillow_df.isnull().sum(axis=0).rename('total'))
meandf=pd.DataFrame(zillow_df.isnull().mean(axis=0).rename('percentage'))
pd.concat([sumdf,meandf],axis=1)

                          total  percentage
id                            0    0.000000
parcelid                      0    0.000000
airconditioningtypeid     52427    0.677526
architecturalstyletypeid  77174    0.997338
basementsqft              77330    0.999354
...                         ...         ...
buildingclassdesc         77365    0.999806
heatingorsystemdesc       27941    0.361088
propertylandusedesc           0    0.000000
storydesc                 77330    0.999354
typeconstructiondesc      77158    0.997131

[68 rows x 2 columns]

## Takeaway
- A lot of columns have missing over 90% of the values. the problem is that whether we should decided to drop the null values
- Some of missing values can be dropped, which like ids. However, some values we can imputed

In [7]:
# function for null counts 
def null_counts():
    sumdf=pd.DataFrame(zillow_df.isnull().sum(axis=0).rename('num_rows_missing'))
    meandf=pd.DataFrame(zillow_df.isnull().mean(axis=0).rename('pct_rows_missing'))
    print(pd.concat([sumdf,meandf],axis=1))

In [8]:
# clean the column and create county columns
def clean_column():
    zillow2017_df=acquire_zillow()
    zillow2017_df.rename(columns={'bedroomcnt':'bedroom','bathroomcnt':'bathroom','calculatedfinishedsquarefeet':'sqtft','taxvaluedollarcnt':'taxvalue','garagecarcnt':'garage','lotsizesquarefeet':'lots','poolcnt':'pool','regionidzip':'zipcode'},inplace=True)
    zillow2017_df['fips']= zillow2017_df['fips'].astype(object)
    value=[]
    for row in zillow2017_df['fips']:
        if row ==6037.0: value.append('Los Angeles County, CA')
        elif row == 6059.0: value.append("Orange County, CA")
        elif row == 6111.0: value.append('Ventura County, CA')
        else:
            value.append('Undetermined')
    zillow2017_df['county']=value
    zillow2017_df['zipcode']=zillow2017_df['zipcode'].astype(object)
    zillow2017_df= zillow2017_df[zillow2017_df.columns.drop(list(zillow2017_df.filter(regex='id')))]
    zillow2017_df['taxrate']=zillow2017_df.taxamount/zillow2017_df.taxvalue
    return zillow2017_df

In [9]:
# create function that will drop null when exceed certain amount of null values
def handle_missing_values(df, prop_required_column, prop_required_row):
    n_required_column = round(df.shape[0] * prop_required_column)
    n_required_row = round(df.shape[1] * prop_required_row)
    df = df.dropna(axis=0, thresh=n_required_row)
    df = df.dropna(axis=1, thresh=n_required_column)
    return df

In [10]:
def wrangle_zillow():
    zillow_df=clean_column()
    zillow2017_df=handle_missing_values(zillow_df,.4,.5)
    train_validate, zillow_test = train_test_split(zillow2017_df, test_size=.2, random_state=123)
    zillow_train, zillow_validate = train_test_split(train_validate, test_size=.3, random_state=123)
    zillow_train['month']=pd.DatetimeIndex(zillow_train['transactiondate']).month
    zillow_train=zillow_train.drop(columns=['transactiondate','heatingorsystemdesc','unitcnt','propertyzoningdesc','lots'])
    zillow_validate['month']=pd.DatetimeIndex(zillow_validate['transactiondate']).month
    zillow_validate=zillow_validate.drop(columns=['transactiondate','heatingorsystemdesc','unitcnt','propertyzoningdesc','lots'])
    zillow_test['month']=pd.DatetimeIndex(zillow_test['transactiondate']).month
    zillow_test=zillow_test.drop(columns=['transactiondate','heatingorsystemdesc','unitcnt','propertyzoningdesc','lots'])
    return zillow_train, zillow_validate, zillow_test

In [11]:
zillow_train, zillow_validate, zillow_test=wrangle_zillow()

In [12]:
zillow_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42993 entries, 39641 to 7566
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   bathroom                    42993 non-null  float64
 1   bedroom                     42993 non-null  float64
 2   calculatedbathnbr           42816 non-null  float64
 3   sqtft                       42991 non-null  float64
 4   finishedsquarefeet12        41116 non-null  float64
 5   fips                        42993 non-null  object
 6   fullbathcnt                 42816 non-null  float64
 7   latitude                    42993 non-null  float64
 8   longitude                   42993 non-null  float64
 9   propertycountylandusecode   42993 non-null  object
 10  rawcensustractandblock      42993 non-null  float64
 11  zipcode                     42971 non-null  object
 12  roomcnt                     42993 non-null  float64
 13  yearbuilt                   42961 non-null  float64
 14  structuretaxvaluedollarcnt  42941 non-null  float64
 15  taxvalue                    42992 non-null  float64
 16  assessmentyear              42993 non-null  float64
 17  landtaxvaluedollarcnt       42992 non-null  float64
 18  taxamount                   42990 non-null  float64
 19  censustractandblock         42869 non-null  float64
 20  logerror                    42993 non-null  float64
 21  propertylandusedesc         42993 non-null  object
 22  county                      42993 non-null  object
 23  taxrate                     42989 non-null  float64
 24  month                       42993 non-null  int64
dtypes: float64(19), int64(1), object(5)
memory usage: 8.5+ MB

In [13]:
zillow_train.isnull().sum()

bathroom                         0
bedroom                          0
calculatedbathnbr              177
sqtft                            2
finishedsquarefeet12          1877
fips                             0
fullbathcnt                    177
latitude                         0
longitude                        0
propertycountylandusecode        0
rawcensustractandblock           0
zipcode                         22
roomcnt                          0
yearbuilt                       32
structuretaxvaluedollarcnt      52
taxvalue                         1
assessmentyear                   0
landtaxvaluedollarcnt            1
taxamount                        3
censustractandblock            124
logerror                         0
propertylandusedesc              0
county                           0
taxrate                          4
month                            0
dtype: int64

In [14]:
zillow_train.isnull().sum().max()
imp = SimpleImputer(strategy="most_frequent")

In [15]:
from datetime import datetime
def wrangled_file():
    zillow_train,zillow_validate,zillow_test=wrangle_zillow()
    zillow_train=zillow_train.dropna(axis=0)
    zillow_validate=zillow_validate.dropna(axis=0)
    zillow_test=zillow_test.dropna(axis=0)
    zillow_train['age']=2022.0-zillow_train.yearbuilt
    zillow_validate['age']=2022.0-zillow_validate.yearbuilt
    zillow_test['age']=2022.0-zillow_test.yearbuilt
    return zillow_train,zillow_validate,zillow_test

In [16]:
zillow_train,zv,zt=wrangled_file()
zillow_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40900 entries, 39641 to 7566
Data columns (total 26 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   bathroom                    40900 non-null  float64
 1   bedroom                     40900 non-null  float64
 2   calculatedbathnbr           40900 non-null  float64
 3   sqtft                       40900 non-null  float64
 4   finishedsquarefeet12        40900 non-null  float64
 5   fips                        40900 non-null  object
 6   fullbathcnt                 40900 non-null  float64
 7   latitude                    40900 non-null  float64
 8   longitude                   40900 non-null  float64
 9   propertycountylandusecode   40900 non-null  object
 10  rawcensustractandblock      40900 non-null  float64
 11  zipcode                     40900 non-null  object
 12  roomcnt                     40900 non-null  float64
 13  yearbuilt                   40900 non-null  float64
 14  structuretaxvaluedollarcnt  40900 non-null  float64
 15  taxvalue                    40900 non-null  float64
 16  assessmentyear              40900 non-null  float64
 17  landtaxvaluedollarcnt       40900 non-null  float64
 18  taxamount                   40900 non-null  float64
 19  censustractandblock         40900 non-null  float64
 20  logerror                    40900 non-null  float64
 21  propertylandusedesc         40900 non-null  object
 22  county                      40900 non-null  object
 23  taxrate                     40900 non-null  float64
 24  month                       40900 non-null  int64
 25  age                         40900 non-null  float64
dtypes: float64(20), int64(1), object(5)
memory usage: 8.4+ MB

NameError: name 'imputer' is not defined

In [ ]:
zillow_train.select_dtypes(float).columns

In [ ]:
    zillow_validate=pd.DataFrame(zillow_validate,columns=[calculatedbathnbr])
    zillow_test=pd.DataFrame(zillow_test,columns=zillow_col)

In [ ]:
illow_train['taxrate','heatingorsystemdesc','censustractandblock','structuretaxvaluedollarcnt']=pd.DataFrame(imputer.transform(zillow_train['taxrate','heatingorsystemdesc','censustractandblock','structuretaxvaluedollarcnt']))
    zillow_train['age']=2022.0-zillow_train.yearbuilt.astype(float)